header {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    font-size: 37px;
    font-family: 'Gemunu Libre', sans-serif;
}

body {
    background-color: pink;
}


#test {
    display: flex;
    flex-wrap: wrap;
    max-width: 610px;
    max-height: 610px;
    gap: 5px;
    align-content: center;
    justify-content: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.582);
}

#gameBlock {
    background-color: rgba(255, 255, 255, 0.863);
    font-size: 170px;
    display: flex;
    align-content: center;
    justify-content: center;

}